{% extends 'base.html.twig' %}

{% block title %}Code de confirmation{% endblock %}
{% block body %}
    {{ form_start(ResetForm) }}
    {{ form_widget(ResetForm.password, {'attr' : {'oninput' : "passValidation()"},'id':"psswdId"})}}
    {{ form_row(ResetForm.Reinitialiser) }}
    {{ form_end(ResetForm) }}
    <br>
    <div class="form-group">
        <table>
            <tr>
                <td style="margin-left: 2cm">

                    <small style="color: black"  id="AE"> <i class="fa fa-check-circle-o"  aria-hidden="true"></i>  &nbsp;Aucun espace</small>
                </td>
                <td style="margin-left: 2cm;padding-left: 8cm;">

                    <small style="color: black" id="Min"><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp;1 miniscule</small>
                </td>
            </tr>
            <tr>
                <td style="margin-left: 2cm">
                    <small style="color: black" id="Maj"><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp;1 majuscule</small>
                </td>
                <td style="margin-left: 2cm;padding-left: 8cm;">
                    <small style="color: black" id="Chif"><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp;1 chifre</small>
                </td>
            </tr>
            <tr>
                <td style="margin-left: 2cm">
                    <small style="color: black" id="Char"><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp;8 caractères</small>
                </td>
            </tr>
        </table>

    </div>

{% endblock %}
{% block javascripts %}
    <script>
        function passValidation() {
            var password = document.getElementById("psswdId").value;

            var AE   = document.getElementById("AE").  valueOf();
            var Min  = document.getElementById("Min"). valueOf();
            var Maj  = document.getElementById("Maj"). valueOf();
            var Chif = document.getElementById("Chif").valueOf();
            var Char = document.getElementById("Char").valueOf();

            if (password.match(/\s/)) { AE.style.color = "#F44336";}
            else{ AE.style.color = "#3ae374";}

            if (password.match(/[A-Z]/)) { Maj.style.color = "#3ae374";}
            else{ Maj.style.color = "#F44336";}

            if (password.match(/[a-z]/)) { Min.style.color = "#3ae374";}
            else{Min.style.color = "#F44336";}

            if (password.match(/[0-9]/)) {Chif.style.color = "#3ae374";}
            else{Chif.style.color = "#F44336";}

            if (password.length<8) {Char.style.color = "#F44336";}
            else {Char.style.color = "#3ae374";}

        }
    </script>
{% endblock %}