{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_remail') }}">


        <h1 class="h3 mb-3 font-weight-normal">Veuillez saisir le code de verification que vous avez recu tout a l'heure</h1>
        <label for="verif">Code de verification</label>
        <input type="text"  name="verification" id="verif" class="form-control" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit" name="envoi">
            Envoyer
        </button>

    </form>
{% endblock %}
